/* Navbar styles */
.navbar {
    max-width: var(--max-container-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 40px;
  }
  
  /* Navbar items on the left */
  .navbar-items-left {
    display: flex;
    align-items: center;
  }
  
  /* Navbar items on the right */
  .navbar-items-right {
    display: flex;
    align-items: center;
  }
  
  /* Common button styles */
  .nav-button {
    background-color: transparent;
    color: var(--main-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    margin-right: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Highlighted button styles */
  .nav-button.highlighted {
    background: var(--main-highlight-color);
    color: white;
    border-radius: 10px;
    font-weight: 400;
  }
  
  /* Logo */
  .navbar-logo {
    max-height: 40px;
  }
  