/* App.css */
body {
  overflow-x: hidden; /* Disable horizontal scrolling */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--main-background-color);
}

/* For Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--main-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 5px;
}
